.column-1 {
    background-color: white;
    display: inline-block;
    width: 45%;
    margin-left: 2%;
    padding-left: 10px;
    border-style: dashed;
}

.column-2 {
    background-color: white;
    display: inline-block;
    width: 45%;
    float: right;
    margin-right: 2%;
    padding-left: 10px;
    border-style: dashed;
}

h1 {
  font-family: Courier;
  background-color: #ffead1;
  height: 50px;
  text-align: center;
}

header > p {
  text-align: left;
  padding-left: 3%;
  padding-bottom: 3%;
}

body {
  background-color: #f9bd70;
}

footer {
   font-family: Courier;
   padding-top: 3%;
   text-align: center;
}