<!DOCTYPE html>
<html>
<head>
  <title>Add a campus</title>
</head>
<body>
  <form action="/schools" method="POST">
    <input type="text" campus="campus" placeholder="Type City name">
    <button type="submit">Save</button>
  </form>
</body>
</html>